/*
Creator: steppe 
Date Created: 10/18/18 
Date Last Modified: 10/18/18
*/

  td {
      width: 100px;
      height: 100px;
      background-color: aquamarine;
  }
  .vertical {
      border-left: 1px solid black;
      border-right: 1px solid black;
  }

  .horizontal {
      border-top:1px solid black;
      border-bottom: 1px solid black;
  }